.App {
  text-align: center;
}

.App-purple {
  text-align: center;
  background-color: purple;
}

.App-red {
text-align: center;
background-color: red;
}

.App-green {
text-align: center;
background-color: green;
}

.App-orange {
text-align: center;
background-color: orange;
}

.App-blue {
text-align: center;
background-color: blue;
}

.App-yellow {
  text-align: center;
  background-color: yellow;
}
